@media screen and (min-width: 500px) {

    header {
        max-width: 640px;
        margin: 1rem auto;
        color: white;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: black;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }


}